.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  font-size: 5vw;
  height: 150px;
  padding: 20px;
  color: white;
  line-height: 100px;
  letter-spacing: -1px;
}

.App-title {
  font-size: 1.5em;
}

.App-container {
  padding: 30px;
  height: 200px;
  font-size: 3vw;
  letter-spacing: -1px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
